---
layout: base.njk
title: DevGuard 24V
permalink: /devguard/
---
<meta http-equiv="refresh" content="0; url=https://www.tindie.com/products/odderonlab/devguard-24-inline-324v-protection-module/" />
<script>window.location.href = "https://www.tindie.com/products/odderonlab/devguard-24-inline-324v-protection-module/";</script>
<p>Redirecting to <a href="https://www.tindie.com/products/odderonlab/devguard-24-inline-324v-protection-module/">DevGuard 24 on Tindie</a>...</p>